@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0; /* Blue */
  --background-end-rgb: 124, 58, 237; /* Purple */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0; /* Darker Blue */
    --background-end-rgb: 124, 58, 237; /* Darker Purple */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}